
.song-li{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  font-size: 13px;
}
.song-list-card{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 5px 0;
  border: 1px solid var(--site-red);
  color: black;
  background-color: aliceblue;
  z-index: 2;
  width: 50%;
  background-color: white;
}
.song-list-card .span-1,.song-list-card .span-2,
.song-list-card .span-3,.song-list-card .span-4,
.song-list-card .span-5,.song-list-card .span-6{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  color: black;
  padding: 5px;
  border-bottom: 1px solid rgb(234, 231, 231);
}
.song-list-card .span-6{
  border-bottom: 0;
}
.song-li .song-li-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px 5px;
  width: 100%;
  font-size: 14px;
}
#site-black-color{
  background-color: var(--site-black);
}
#site-black-color:hover{
  border: 1px solid var(--site-green);
}
#normal-black-color{
  background-color: var(--normalblack);
}
#normal-black-color:hover{
  border: 1px solid var(--site-green);
}
#site-black-color.song-li-change-bg,
#normal-black-color.song-li-change-bg{
  background: var(--blue-red);
  border: 1px solid black
}
.song-li .double-bar{
  font-size: 17px;
  margin: 0 5px;
}
.song-li .item{
  width: 5%;
}
.song-li .item-1{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  margin-right: 10px;
  /* flex-grow: 1; */
}
.song-li .song-li-wrap.song-li-change-bg .item-1.re-spacing{
  padding-right: 5%;
}
.song-li .item-1 .place-1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.song-li .item-1 div.div1{
  display: none;
}
.song-li .item-1 div.div2{
  display: flex;
  align-items: baseline;
}
.song-li .song-li-wrap.song-li-change-bg .item-1 div.div1{
  display: flex;
  align-items: baseline;
}
.song-li .song-li-wrap.song-li-change-bg .item-1 div.div2{
  display: none;
}
.song-li .item-1 .place-2{
  margin-left: 20%;
  display: none;
}
.song-li .item-1 .place-2 .html-icon:hover{
  color:aqua;
}
.song-li .song-li-wrap.song-li-change-bg .item-1 .place-2{
  display: flex;
  justify-content: space-between;
}

.song-li .item-1 .place-2 span:nth-child(1){
  top: 0;
  left: 0;
  align-self: flex-end;
  margin-right: 20px;
}
.song-li .item-1 .place-2 span:nth-child(2){
  top: 0;
  right: -50px;
}
.song-li .item-2{
  width: 30%;
}