.main-control{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.main-control button{
  background: transparent;
  border: none;
  padding: 5px;
}
.main-control .svg-inline--fa{
  font-size: 15px;
  color: var(--light-gray);
}

@media screen and (max-width:768px) {
  .main-control .svg-inline--fa{
      font-size: 13px;
  }
}