
  .box.b{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
  .box.b #select,
  .box.b #cancel{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
  }
  .box.b #select .html-icon,
  .box.b #cancel .html-icon{
    background-color: grey;
    padding: 0 2px;
    font-size: 9px;
    font-weight:bold;
    margin-right: 5px;
  }
  .box.b #select.dont-display,
  .box.b #cancel.dont-display{
    display: none;
  }
  .box.b .icon{
    margin: 0 12px;
  }
  .box.b .filler{
    position: absolute;
    top:-5px;
    left:0;
    width: 110%;
    height: 110%;
  }