.checkbox-1 {
  position: absolute;
  top: 1px;
  right: 7px;
  display: none;
  color: var(--my-font-colors);
}
.checkbox-2 {
  display: none;
  color: var(--my-font-colors);
  margin-right: 15px;
}
.checkbox-1.display-checked,
.checkbox-2.display-checked{
  display: block;
}
.checkbox-1 label,
.checkbox-2 label{
  font-size:14px;
  font-weight: lighter;
  margin-left: 10px;
}
.greylabel{
  color:grey;
}
.blacklabel{
  color:var(--my-font-colors);;
}






