form.search-form{
    position: relative;
    padding: 2px;
    padding-left: 30px;
    /* border-radius: 5px; */
    border:2px solid rgb(24, 24, 26);
    background: rgba(0,40,40,40);
}
form .icon-html{
    padding: 0;
}
form.header-form{
    margin: 10px;
    margin-left: 50px;
    width: 100%;
}
form.side-bar-form{
    margin-right: 20px;
    border:none;
    width: fit-content;
    background-color: rgba(0,40,40,10);
    border-radius: 55px;
}
form.menu-bar-form{
    /* margin: 10px; */
}
form.reduce-form{
    width: 0;
    margin-right: 0px;
    padding-right: 44px; 
}
form .search-icon{
    position: absolute;
    bottom: 13px;
    left: 13px;
    font-size: 13px;
    color:var(--normalwhite);
    border: none;
    background: transparent;
}
form .search-icon.reposition-icon{
    right: 50%;
}


@media screen and (max-width:768px){
    form.header-form{
         display: none;
     }
     form.reduce-form{
         padding-right: 40px; 
     }
  }
  form .search-icon.reposition-icon{
      right: 25%;
  }