.items .svg-inline--fa {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    font-size: 30px;
}
.song-li .svg-inline--fa {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    font-size: 30px;
}