.select-fields {
  background-color: rgb(24 63 63);
  padding: 4px 6px;
  border: 1px solid var(--brown25);
  font-size: 13px;
  border-radius: 4px;
  position: relative;
  min-width: 7vw;
}
.select-fields p{
  font-size: 11px;
  cursor: pointer;
  padding: 0;
  margin: 0
}
.select-fields ul{
  display: grid;
  position: absolute;
  top: 10px;
  right: 0;
  background-color:rgb(24 63 63);
  min-width: 12vw;
  border-radius: 2px;
  z-index: 2;
  animation: selectSlide 300ms ease-in 1;
  overflow: hidden;
}
@keyframes selectSlide {
  from {height: 0}
  to {height: 10vh;}
}
.select-fields ul.show{
  display: grid;
}
.select-fields ul li{
  padding: 10px 5px;
}
.select-fields ul li:hover{
  background-color: var(major);
  cursor: pointer;
}






@media screen and (max-width:768px){
  .select-fields ul{
    min-width: 20vw;
  }
}
@media screen and (max-width:600px){
  .select-fields ul{
    min-width: 30vw;
  }
}
